$color-red-def: #e94949;

@mixin hover-prev-next{
    .prev:hover {
        background-color: $color-red-def;
        border-radius: 100px;
        opacity: 50%;
    }
    .next:hover {
        background-color: $color-red-def;
        border-radius: 100px;
        opacity: 50%;
    }
}

@mixin testim-p{
    text-align: justify;
        span {
            color: $color-red-def;
            text-decoration-line: underline;
            font-weight: bold;
        }
}

@mixin testim-card{
    // fungsi lighten untuk lebih terang
    box-shadow: 3px 3px 9px lighten($color: #e94949, $amount: 10);
            border-radius: 0px 25px 25px 25px;
            margin: 10px;
            background-color: None;
            max-width: 100%;
            margin-left: 20%;
            margin-right: 20%;
}

