#faq{
    background-color: darken($color: #f3f2de, $amount: 10);

    .accordion-item{
        background-color: darken($color: #f5f3c8, $amount: 10);

        button{
        background-color: darken($color: #f5f3c8, $amount: 10);

        }
    }
}