.red-default-app {
    color: #e94949;
}

.bg-testimoni {
    background-color: rgb(254, 251, 199);
}

p {
    text-align: justify;
    span {
        color: #e94949;
        text-decoration-line: underline;
        font-weight: bold;
    }
}
